* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 1440px;
  height: 960px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100, 8px);
  background: var(--color-grey-900, #141414);
}

.card {
  display: flex;
  max-width: 384px;
  padding: var(--spacing-500, 40px);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300, 24px);
  flex: 1 0 0;
  border-radius: var(--spacing-150, 12px);
  background: var(--color-grey-800, #1f1f1f);
}

h3 {
  color: var(--color-white, #fff);
  text-align: center;

  font-size: var(--font-size-text-preset-1, 24px);
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.country {
  color: var(--color-green, #c4f82a);
  text-align: center;

  font-size: var(--font-size-text-preset-2, 14px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.proffesion {
  color: var(--color-white, #fff);
  text-align: center;

  font-size: var(--font-size-text-preset-2, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.button_container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.button {
  padding:  12px 127px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100, 8px);
  align-self: stretch;
  border-radius: var(--spacing-100, 8px);
  background: var(--color-grey-700, #333);
  color: var(--color-white, #fff);

  font-size: var(--font-size-text-preset-2, 14px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: none;
}
